@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/text.scss";
@import "./styles/form.scss";

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 171, 123, 0.684);
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}
